<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Automation.EndToEndFramework.Listeners" />
	</listeners>
	<test name="Regression" parallel="classes">
		<classes>
			<class name="Automation.EndToEndFramework.HomePageTest" />
			<class name="Automation.EndToEndFramework.CoursesPageTest" />
		</classes>
	</test> 
</suite> 